Source: supervisor
Section: admin
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Samuel Henrique <samueloph@debian.org>, Stéphane Blondon <sblondon@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-pkg-resources,
 python3-setuptools,
 python3-sphinx,
Vcs-Git: https://salsa.debian.org/python-team/applications/supervisor.git
Vcs-Browser: https://salsa.debian.org/python-team/applications/supervisor
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: http://supervisord.org/
Testsuite: autopkgtest-pkg-pybuild

Package: supervisor
Architecture: all
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 python3-pkg-resources,
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 supervisor-doc,
Description: System for controlling process state
 Supervisor is a system for controlling and maintaining process state,
 similar to what init does, but not intended as an init replacement.
 .
 It will manage individual processes or groups of processes that
 need to be started and stopped in order, and it is possible to
 control individual process state via an rpc mechanism, thus allowing
 ordinary users to restart processes.

Package: supervisor-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Description: Documentation for a supervisor
 Supervisor is a system for controlling and maintaining process state,
 similar to what init does, but not intended as an init replacement.
 .
 It will manage individual processes or groups of processes that
 need to be started and stopped in order, and it is possible to
 control individual process state via an rpc mechanism, thus allowing
 ordinary users to restart processes.
 .
 This is the documentation package
